@model IEnumerable<Libanon.Models.Book>

@{
    ViewBag.Title = "MyBook";
}

<h2>MyBook</h2>

<a href="~/Home/Index">
    <button class="button button3">Back to list</button>
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        <img src="@Url.Content("~/Content/images/"+item.ImageUrl)" height="100" width="100" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Authors)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Publisher)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NameBorrower)
    </td>
    <td>
        @Html.ActionLink("Trả sách", "ReturnBook", new { id = item.Id })
    </td>
</tr>
}

</table>
